.ekaboxi {
    width: 200px;
    height: 100px;
    background-color: red;
    border: 10px solid green;
    text-align: center;
    text-transform: uppercase;
    color: blue;
    padding-top: 45px;
    position: absolute;
}

.tokaboxi {
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: 10px solid red;
    text-align: center;
    text-transform: uppercase;
    color: blue;
    padding-top: 45px;
    position: absolute;
    left: 275px;
    
}

.kolmasboxi {
    width: 200px;
    height: 100px;
    background-color: green;
    border: 10px solid yellow;
    text-align: center;
    text-transform: uppercase;
    color: blue;
    padding-top: 45px;
    position: absolute;
    left: 540px;
}